<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="kafkaUrl" value="10.84.28.93:9098"/>
    <add key="kafkaTopic" value="testtopic"/>
    <add key="kafkaPublishMessage" value="Hello RdKafka"/>
    <add key="isMultipleConsumers" value="false"/>
    <add key="ssl.ca.location" value="C:\\Users\\Jason Bilyeu\\Documents\\ca-cert"/>
    <add key="ssl.certificate.location" value="C:\\Users\\Jason Bilyeu\\Documents\\client_10.3.19.213_client.pem"/>
    <add key="ssl.key.location" value="C:\\Users\\Jason Bilyeu\\Documents\\client_10.3.19.213_client.key"/>
    <add key="ssl.key.password" value="abcdefgh"/>
  </appSettings>
</configuration>